.button {
border: 1px solid #999999; 
border-top-color: #CCCCCC; 
border-left-color: #CCCCCC;
background: white url(../images/icone-email.png) no-repeat 3px 0px;
padding: 3px 2px 3px 29px;
color: #333333; 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
}

/* Label */
label.label-right { clear:left; margin-bottom:10px; text-align: right; }

/* Input, Textarea */
input.textbox {
border: 1px solid #999999; 
border-top-color: #CCCCCC; 
border-left-color: #CCCCCC; 
color: #333333; 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
}

textarea.textbox {
border: 1px solid #999999; 
border-top-color: #CCCCCC; 
border-left-color: #CCCCCC; 
color: #333333; 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
}