img {border:none;}
.BAZ_titre_liste {font-size:1.3em; font-weight:bold; }
.symbole_obligatoire {color:red;}
#BAZ_corps {width:100%;}
.BAZ_liste_rss {padding:0; margin:0; display:inline; list-style:none; list-style-type:none; background:#FFF; background-image:none;}
#formulaire table, #formulaire td {border:0;}
.BAZ_menu {display:block;margin:0 0 10px 0; padding:0; width:100%; }
.BAZ_menu li {padding:0; margin:0 10px 0 0; display:block; float:left; list-style:none; list-style-type:none; background:#d71a38; width:100px; text-align:left; background-image:none;}
.BAZ_menu a {color:#000;}
.BAZ_info {background:#fff url(images/info.png) no-repeat 3px 2px; border:1px solid #3399cc; padding: 7px 7px 6px 36px; margin:10px 0 5px 0; font-size:0.9em;}
.BAZ_label {font-weight:bold;}
/*-------------Les fiches Bazar-------------------------------------------------*/
.BAZ_cadre_fiche {padding:0; text-align:justify; font-size:1em;}
.BAZ_image {float:right;height:150px; width:150px;}
#BAZ_description {font-size:1.1em; text-align:justify;}
#BAZ_bas_page {margin: 0;padding:0;}
.bulle_haut {margin: 0;padding:0;}
.bulle_corps {margin: 0;padding:10px 5px;border: 1px solid #3082AA;-moz-border-radius:10px;background:#DBE8C8;}
.bulle_bas {margin: 0;padding:0;}
.centrer {clear:both;margin:0 auto;}
.rubrique {width:150px;	text-align:left; font-weight:bold; color: #515966;}
.rubrique_bulle {width:90px;text-align:left;font-weight:bold; color: #000;}
.infos {width:70%;float:left;min-height:120px;font-weight:bold; color: #B1BB7E;line-height: 25px;}
#formulaire .bazar_checkbox {float:left;width:192px;font:10px arial, sans-serif; margin:0; padding:0; border:0;}
.lien_wikini {margin: 0;padding:10px 5px;border: 2px solid #DBE8C8;-moz-border-radius:10px;background:#3082AA;}
div.lien_wikini a {padding-left:100px;color:#FFFFFF;}
.table_bazar th{font-weight:bold;}
.table_bazar #col1,.table_bazar #col2,.table_bazar #col3,.table_bazar #col4{text-align:center;}

/* CALENDRIER */
.cal_entete{
	display:block;
	margin:10px auto;
}

.calendrierjquerymini .cal_navigation {
display:block;
margin:0 auto;
width:147px;
}

.tc_lien {float:right;}

.cal_precedent_lien, .cal_suivant_lien {
	display:block;
	float:left;
	width:23px;
	height:28px;
	background:transparent;}
	
.cal_suivant_lien img, .cal_precedent_lien img{
	width:23px;
	height:28px;
	border:0;}
	
.cal_mois_courrant{
	width:120px;
	padding:2px 15px;
	display:block;
	float:left;
	text-align:center;
	border:1px solid #CCCCCC;
	text-transform:uppercase;
	font-weight: bold;
	font-size:1.3em;}
	
.calendrierjquerymini .cal_mois_courrant{
	width:97px;
	padding:8px 0 0 0;
	display:block;
	float:left;
	text-align:center;
	border:0;
	text-transform:uppercase;
	font-weight: bold;
	font-size:0.9em;}


.calendrier {	
	margin:5px auto;
	width:100%;
}

.calendrierjquery {	
	margin:5px auto;
	width:560px;
}

.calendrierjquerymini {	
	margin:5px auto;
	width:160px;
}

.calendrier table, .calendrierjquery table {
	clear:both;
	font-weight:bold;
	font-size:14px;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

.calendrierjquerymini table {
	clear:both;
	font-weight:bold;
	font-size:11px;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

.calendrier th {
	color:#000;
	background-color:#D2BBCB;
	border: 1px solid #D2BBCB;
	text-align:center;
	height:20px;
	width:14%;
	}

.calendrierjquery th {
	color:#000;
	background-color:#D2BBCB;
	border: 1px solid #D2BBCB;
	text-align:center;
	height:20px;
	width:80px;
}

.calendrierjquerymini th {
	color:#000;
	background-color:#D2BBCB;
	border: 1px solid #D2BBCB;
	text-align:center;
}

.calendrier td {
	width:14%;
	border:1px solid #D2BBCB;
	text-align:left;
	vertical-align:top;	
}
.calendrierjquery td {
	height:80px;
	width:80px;
	border:1px solid #D2BBCB;
	text-align:center;
	vertical-align:middle;
}

.calendrierjquerymini td {
	border:1px solid #D2BBCB;
	text-align:center;
	vertical-align:middle;
}
	
.cal_j{
	display:block;
	float:right;
	padding:1px;
	font-size:0.8em;}

.cal_autre_mois {background-color:#E8E8E8;color:#C9C9C9}
.cal_jour_courant {background-color:#c4d9fb;}
.cal_samedi, .cal_dimanche {background-color:#DBDBDB;}
.date_avec_evenements {background-color:#FFC95C;}
.date_hover {background-color:#c4d9fb;}

.evenements {
	position: relative;
}
.evenements ul {
	text-align: left;
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 15px;
	background: #FFF;
	color: #000;
	border: 2px solid #D2BBCB;
	font-size: 14px;
	width: 270px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	-webkit-box-shadow: 0px 8px 8px #333;
}
.evenements li {
	padding-bottom: 10px;
}
.evenements li span {
	display: block;
	font-size: 12px;
	text-align: left;
	color: #555;
}
.evenements li span.titre_evenement {
	font-weight: bold;
	color: #222;
}
